html
	head
		title= title
	body
		h2= message
		a(href='https://www.youtube.com/watch?v=Ez2GeaMa4c8&ab_channel=InvigoratePhysicalTherapyandWellness') Video1
		p
		a(href='https://www.youtube.com/watch?v=KNWqyKluZgg&ab_channel=ParkinsonAssociationofSouthwestFloridaInc.') Video2
		p
		a(href='https://www.youtube.com/watch?v=ZaVDs5DPnsA&ab_channel=SmartXPD') Video3